<%- include('partials/header'); -%>
<section>
  <h1>Compose </h1>
  <form action="">
    <input type="text" placeholder="publish">
    <button type="submit">Publish</button>
  </form>
</section>
<%- include('partials/footer'); -%>